aiofiles>=24.1.0
alembic>=1.13.1
arq>=0.25.0
asyncpg>=0.29.0
bcrypt>=4.1.1
crudadmin>=0.4.2
fastapi>=0.109.1
fastcrud>=0.15.5
faker>=37.3.0
greenlet>=2.0.2
gunicorn>=23.0.0
httptools>=0.6.1
httpx>=0.26.0
mypy>=1.16.0
openpyxl>=3.1.5
pandas>=2.3.2
psycopg2-binary>=2.9.9
pydantic-settings>=2.0.3
pydantic>=2.6.1
python-dotenv>=1.0.0
python-jose>=3.3.0
python-multipart>=0.0.9
redis>=5.0.1
ruff>=0.11.13
SQLAlchemy-Utils>=0.41.1
SQLAlchemy>=2.0.25
uvicorn>=0.27.0
uvloop>=0.19.0
uuid>=1.30
pytest>=7.4.2
pytest-mock>=3.14.0
types-redis>=4.6.0
pytest-asyncio>=1.0.0